<div class="article-footer mt-5 pt-4 border-top">
  <h2>End of the page 🎉</h2>

  <p>
    You have reached the end of the page. You can select a category, share this post on X, LinkedIn and Reddit, or return to the blog posts collection page. Thank you for visiting this post.
  </p>

  <p>
    If you think something is wrong with this post or you want to know more, you can send me a message to one of my social profiles at:
    <a href="/about/">https://justinverstijnen.nl/about/</a>
  </p>

  <p>
    <a class="btn btn-primary" href="/blog/">Go back to Blog</a>
  </p>

  <p>
    If you find this page and blog very useful and you want to leave a donation, you can use the button below to buy me a beer. Thank you in advance and cheers :)
  </p>

  <p>
    <a href="https://www.buymeacoffee.com/justinverstijnen" target="_blank" rel="noopener noreferrer">
      <img
        src="https://img.buymeacoffee.com/button-api/?text=Buy%20me%20a%20beer&emoji=🍺&slug=justinverstijnen&button_colour=FFDD00&font_colour=000000&font_family=Arial&outline_colour=000000&coffee_colour=ffffff"
        alt="Buy me a beer"
      >
    </a>
  </p>

  <p>
    <a href="https://buymeacoffee.com/justinverstijnen" target="_blank" rel="noopener noreferrer">
      <img
        src="https://sajvwebsiteblobstorage.blob.core.windows.net/blog/about-66/jv-media-66-36a3c69c96cb.png"
        alt="Buy me a beer"
      >
    </a>
  </p>

  <p>
    The <a href="/blog/terms-conditions/">terms and conditions</a> apply to this post.
  </p>
</div>